.nav-pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f3f3;
    padding: 10px;
    height:10vh;
    position: relative;
    z-index:1;
    width:97vw;
  }
  .top-title{
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  }
  
  .Title {
    font-size: 30px;
    font-weight: bold;
    color: 
    #00754a;
    /* padding-left: 10px; */
  }
  .Title span{
    font-size: 30px;
    font-weight: bold;
    color: 
    #024c31;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin-right: 15px;
    transition: background-color 0.3s;
    cursor:pointer;
    border-radius: 5px;
    padding: 10px;
    border: 
    #007780 1px solid;
    color: #7f7f7f;
  }
  
  li:hover {
    background-color: #ddd;
  }
  
  li.active{
    color: white;
    background-color:
    #007780;
  }
  
  /* media queries */
  @media(max-width:768px){
    #menu-bar{
      display: initial;
    }
    .nav-pages{
      position: relative;
      display: flex;
      flex-direction: column;
      top:60%; right: 0; left: 0;
      background-color: #007780;
      border-top: 0.1rem solid #172202;
      padding:1rem 2rem;
      width: 100%;
      /* clip-path: polygon(0 0,100% 0, 100% 0, 0 0); */
    }
    .Title span{
      color: white;
    }
    .nav-pages ul{
      display: none;
      border-radius: 0.5rem;
      padding: 1.5rem;
      margin: 1.5rem 0;
      background-color: #172202;
    }
    .nav-pages ul.show{
      display: flex;
    }
    #menu-bar .bi bi-list{
    width: 50%;
    height: 30%;
    }
  }
  
  @media(max-width:450px){
    .nav-pages{
      font-size: 50%;
    }
  }